@model GestorEvento.Web.Models.EventoViewModel

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var userRole = HttpContextAccessor.HttpContext?.Session.GetString("UsuarioRol");
}

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success text-center mt-3">
        @TempData["Mensaje"]
    </div>
}

<div class="card shadow mt-4 text-primary">
    <div class="card-header text-center bg-primary text-white">
        <h5 class="mb-0">Detalles del Evento</h5>
    </div>

    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3 text-end text-dark">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt class="col-sm-3 text-end text-dark">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt class="col-sm-3 text-end text-dark">
                @Html.DisplayNameFor(model => model.FechaInicio)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FechaInicio)
            </dd>

            <dt class="col-sm-3 text-end text-dark">
                @Html.DisplayNameFor(model => model.FechaFin)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FechaFin)
            </dd>

            <dt class="col-sm-3 text-end text-dark">
                @Html.DisplayNameFor(model => model.HoraInicio)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.HoraInicio)
            </dd>

            <dt class="col-sm-3 text-end text-dark">
                @Html.DisplayNameFor(model => model.HoraFin)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.HoraFin)
            </dd>

            <dt class="col-sm-3 text-end text-dark">
                @Html.DisplayNameFor(model => model.SalaId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.SalaId)
            </dd>
            <dt class="col-sm-3 text-end text-dark">
                ID del Evento
            </dt>
            <dd class="col-sm-9">
                @Model.Id
            </dd>
        </dl>
    </div>

    <div class="card-footer text-center">
        @if (userRole == "Administrador")
        {
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-warning btn-sm">Editar</a>
            <a asp-action="Index" class="btn btn-outline-success btn-sm">Volver a la lista</a>
        }
        else
        {
            <a asp-controller="Sala" asp-action="Disponibles" class="btn btn-outline-primary btn-sm">Volver a Salas</a>
        }
    </div>
</div>